.containerTable {
    margin-bottom: 24px;
    background-color: #fff;
}

.elevation {
    box-shadow: 0 0 5px 0px black;
    border-radius: 3px;
}

.table {
    min-width: 700px;
}

tr:last-child td {
    border-bottom: 0;
}

tr:first-child td {
    border-top: 0;
}

.confirmed {
    background-color: blue;
    color: white !important;
}

.recovered {
    background-color: green;
    color: white !important;
}

.deaths {
    background-color: red;
    color:white !important;
}

.infoRecovery {
    background-color: rgb(52, 94, 52);
    color: white !important;
}

.infoMortality {
    background-color: rgb(136, 17, 17);
    color: white !important;
}

.active {
    background-color: #6d4dce;
    color: white !important
}
