.container {
    display: flex;
    justify-content: center;
    min-width: 300px;
    min-height: 300px;
    margin-bottom: 10px;
    background-color: #fff;
  }

.elevation {
    box-shadow: 0 0 5px 0px black;
    border-radius: 3px;
}
  
  @media only screen and (min-width: 768px) {
    .container {
      width: 49%;
      height: 400px;
      margin-right: 2%;
    }
    .container:last-child {
      margin-right: 0;
    }
  }