.container {
    flex-wrap: nowrap !important;
}

.card {
    margin: 5px 5px !important;
    border-bottom: 5px solid;
}

.infected {
    border-color: blue;
}
.recovered {
    border-color: green;
}
.deaths {
    border-color: black;
}
.active {
    border-color: yellowgreen;
}

@media (max-width: 769px) {
    .container {
        margin-bottom: 5px;
    }
    .card {
        /* width:90% !important; */
        margin: 5px 0 !important;
    }
}