.container {
    width: 100%;
}

.card {
    margin: 5px 5px !important;
    border-bottom: 5px solid;
}

.infected {
    border-color: blue;
}
.recovered {
    border-color: green;
}
.deaths {
    border-color: black;
}
.active {
    border-color: yellowgreen;
}

@media (max-width: 769px) {
    .card {
        margin: 5px 0 !important;
    }
}