.container {
    flex-wrap: nowrap !important;
    margin-bottom: 20px;
}

.card {
    margin: 5px 5px !important;
    overflow: visible !important;
    border-bottom: 2px solid;
}

.info {
    border-color: grey;
}

.flexed {
    display: inline-flex;
}

.elevation {
    box-shadow: 0 0 5px 0px black !important;
    border-radius: 3px;
}

@media (max-width: 769px) {
    .container {
        margin-bottom: 5px;
        flex-wrap: wrap !important;
    }
    .card {
        /* width:90% !important; */
        margin: 5px !important;
    }
}