body {
    background-color: rgba(49, 48, 49, 0.2);
}

.active {
    background-color: #609809;
    color: white !important
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.headerSection {
    width: 100%;
    position: sticky;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    top: 0;
    background-color: #ffe9fc;
}

.regionSelectorSection {
    display: flex;
    padding: 20px;
}
.contentSection {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.containerTable {
    margin-bottom: 24px;
    background-color: #fff;
}
    

.containerCharts {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.elevation {
    box-shadow: 0 0 5px 0px black;
    border-radius: 3px;
}

.staticHeader {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 0;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    width:75%;
}

.image {
    width: 33%;
    max-width: 240px;
    padding: 20px;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    background-color: black;
}

footer a {
    padding: 10px;
    color: white;
}



@media (max-width: 767px) {
    .containerCharts {
        flex-direction: column;
    }
}