body {
    background-color: rgba(196, 170, 170, 0.5);
}

.container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
}

.contentSection {
    display: flex;
    justify-content: space-around;
}

.flexCol {
    flex-direction: column;
}

.image {
    width: 240px;
    margin-bottom: 40px;
  }

.containerCards {
    width: 15%;
    margin: 0 2%; 
}

.containerCharts {
    width: 65%;
    display: flex;
    align-items: center;
}

.staticHeader {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 0;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    width:75%;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

footer a {
    padding: 10px;
}


@media (max-width: 769px) {
    .container {
        margin: 0 2%;
    }

    .contentSection {
        flex-direction: column;
    }

    .containerCards, .containerCharts {
        width: 100%;
        margin-bottom: 5px;
        margin: 0;
    }
    .image {
        margin-bottom: 20px;
    }
}